.header {
  grid-column-start: 1;
  grid-column-end: 4;

  width: 38em;
  padding: 2em;
}

.header__title {
  font-size: 300%;
  width: 100%;
  margin: auto;
  text-align: center;
}

.header__subtitle {
  font-size: 180%;
  width: 100%;
  margin: 16px auto;
  text-align: center;
}

.playerIcon {
  display: block;
  margin: auto;
  height: 80px;
}
