.header {
  grid-column-start: 1;
  grid-column-end: 4;

  width: 38em;
  padding: 2em;
}

.header__title {
  font-size: 300%;
  width: 100%;
  margin: auto;
  text-align: center;
}

.header__subtitle__container {
  display: flex;
  justify-content: center;

  width: 490px;
  margin: auto;
  align-items: center;
}

.header__subtitle {
  display: inline-block;
  font-size: 180%;
  /*width: 100%;*/
  margin: 16px;
  /*text-align: center;*/
}

.header__subtitle__2 {
  display: inline-block;
}

.playerIcon {
  display: inline-block;
  margin: 0;
  height: 24px;
}
