.header {
  grid-column-start: 1;
  grid-column-end: 4;

  width: 28em;
  padding: 2em;

  /*background-color: grey;*/
}

.header__title {
  font-size: 220%;
  width: 100%;
  margin: auto;
  text-align: center;
}

.header__subtitle {
  font-size: 140%;
  width: 100%;
  margin: 16px auto;
  text-align: center;
}
