.container {
  position: absolute;
  top: 0;
  z-index: 5;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  margin: auto;

  background-color: #eb3b5a;
}

.game-board {
  display: grid;  
  grid-template-columns: 8em 8em 8em;
  grid-template-rows: 8em 8em 8em;
  grid-gap: 2em;

  background-color: #fc5c65;
  padding: 32px;

  height: 512px;

  border-radius: 16px;
}

.gamemodeButton {
  border-radius: 2em;
  border: none;

  background-color: #d1d8e0;

  grid-column-start: 1;
  grid-column-end: 4;
}

.gamemodeButton > * {
  font-family: 'Walter Turncoat', cursive;
  font-size: 200%;
}

.gmb2 {grid-row: 3}
